
bin/Debug/app_el_sys.exe
bin/Debug/app_el_sys.vshost.exe
bin/Debug/app_el_sys.pdb
bin/Debug/app_el_sys.vshost.exe.manifest
obj/Debug/app_el_sys.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
