
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/app_el_sys.csproj.CoreCompileInputs.cache
bin/Debug/app_el_sys.vshost.exe.manifest
bin/Debug/app_el_sys.vshost.exe
bin/Debug/app_el_sys.pdb
bin/Debug/app_el_sys.exe
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
